<main>
  <h1>Contato</h1>
  <div class="background-base">
    <section class="my-contact">
      <h2>Gilberto Fernandes da Costa Júnior</h2>
      <div class="data">
        <mat-icon aria-hidden="false" aria-label="me" fontIcon="call"></mat-icon>
        <span>(81) 99221-3546</span>
      </div>
      <div class="data">
        <mat-icon aria-hidden="false" aria-label="me" fontIcon="location_on"></mat-icon>
        <span>Pernambuco, Brasil</span>
      </div>
      <div class="data">
        <mat-icon aria-hidden="false" aria-label="me" fontIcon="email"></mat-icon>
        <span>fernaandes.jr@gmail.com</span>
      </div>
      <div class="divider"></div>
      <div class="icons-contact">
        <a href="https://www.linkedin.com/in/gilbertofernandes-dev" target="_blank">
          <img src="../../../assets/avatares/avatar-linkdin.png" alt="icon-linkdin">
        </a>
        <a href="https://github.com/FernandesJr?tab=repositories" target="_blank">
          <img src="../../../assets/avatares/avatar-git-hub.png" alt="icon git hub">
        </a>
      </div>
    </section>
  </div>
</main>
