:root {
  --primary-color: #1E3C58;
  --secondary-color: #42AFF1;
  --white: #FFF;
  --gray: #949494;
  --error: #fb7c7c;
  --light-gray: #94949427;
  --light-yellow: #f5f946bf;
  --warning-orange: #ffc107;
}
