<main>
  <h1>Sobre</h1>
  <section class="about-me">
    <p>
      Olá, seja muito bem-vindo(a) a minha página pessoal.
      Me chamo Gilberto Fernandes e sou desenvolvedor de sistemas
      voltado para a WEB.
    </p>
    <p>
      Apaixonado pela complexidade e organização presentes na natureza, busco refletir esses princípios no meu trabalho com desenvolvimento de software. Acredito que, assim como na natureza, cada linha de código deve ter um propósito e contribuir para a harmonia do todo. Com experiência em criar soluções web, vejo a tecnologia como um ecossistema em constante evolução, onde cada projeto é uma oportunidade de aprender e inovar, inspirado pela perfeição dos sistemas naturais que não param de se adaptar, evoluindo sempre para uma melhoria continua.
    </p>
    <p>
      Sou Brasileiro, Pernambucano arretado, amante da educação através dos estudos que tanto tem transformado a minha vida.
    </p>
    <p>
      Busco constantemente melhorar minhas soft skills, como a comunicação, adaptabilidade, entre outras. Desta maneira, facilitando minhas interações pessoais, isso tem ajudado muito não somente na área profissional, mas em toda minha vida.
    </p>
    <a mat-button color="primary" class="color-primary" routerLink="/contact">
      Fale comigo clicando aqui
    </a>
  </section>
  <section class="my-stacks">
    <h1># Minhas principais stacks</h1>
    <section class="stacks">
      <div class="stack">
        <div class="avatar">
          <img src="../../../assets/avatares/avatar-java.png" alt="java" class="img-anime">
        </div>
        <span>Java</span>
      </div>
      <div class="stack">
        <div class="avatar">
          <img src="../../../assets/avatares/avatar-spring-boot.png" alt="spring-boot" class="img-anime">
        </div>
        <span>Spring Boot</span>
      </div>
      <div class="stack">
        <div class="avatar">
          <img src="../../../assets/avatares/avatar-mysql.png" alt="banco-dados" class="img-anime">
        </div>
        <span>Banco de dados relacionais</span>
      </div>
      <div class="stack">
        <div class="avatar">
          <img src="../../../assets/avatares/avatar-git.png" alt="git" class="img-anime">
        </div>
        <span>Git</span>
      </div>
      <div class="stack">
        <div class="avatar">
          <img src="../../../assets/avatares/avatar-tri.png" alt="html-css-js" class="img-anime">
        </div>
        <span>HTML CSS JS</span>
      </div>
      <div class="stack">
        <div class="avatar">
          <img src="../../../assets/avatares/avatar-angular.png" alt="angular" class="img-anime">
        </div>
        <span>Angular</span>
      </div>
      <div class="stack">
        <div class="avatar">
          <img src="../../../assets/avatares/avatar-postman.png" alt="postman" class="img-anime">
        </div>
        <span>Postman</span>
      </div>
      <div class="stack">
        <div class="avatar">
          <img src="../../../assets/avatares/avatar-jasper-reports.png" alt="jasper" class="img-anime">
        </div>
        <span>Jasper Reports</span>
      </div>
    </section>
  </section>
  <div class="next-step">
    <a mat-button color="primary" class="color-primary" routerLink="/education" class="img-anime">
      Formação Acadêmica
    </a>
  </div>
</main>
