<main>
  <h1>Sobre</h1>
  <section class="about-me">
    <p>
      Olá, seja muito bem-vindo(a) a minha página pessoal.
      Me chamo Gilberto Fernandes e sou desenvolvedor de sistemas
      voltado para a WEB.
    </p>
    <p>
      Mas, antes de falarmos sobre o profissionalismo por que não começarmos de uma forma um pouco mais pessoal.
    </p>
    <p>
      Deixe-me contar um pouco sobre mim, sou fascinado pela natureza e adoro vislumbrar as árvores e águas correntes fluindo em muitas vezes das rochas, isso me deixa encantado. Vejo tanta complexidade e perfeição na natureza que fico inspirado em sempre buscar a organização que nela contém. Percebi que organizando cada parte da minha vida de forma individual dando um passo de cada vez poderei alcançar grandes conquistas. Então, deu para notar que gosto muito da natureza, porque ela me fala muito sobre Tecnologia. Ambas podem transformar vidas, seguindo os passos que foram estipulados os seus ambientes entrarão em equilíbrio. Desta forma, tudo fluirá para uma melhoria contínua.
    </p>
    <p>
      Sou Brasileiro, Pernambucano arretado, amante da educação através dos estudos que tanto tem transformado a minha vida.
    </p>
    <p>
      Busco constatimente melhorar minhas soft skills, como a comunicação, adaptabilidade, entre outras. Desta maneira, facilitando minhas interações pessoais, isso tem ajudado muito não somente na área profissional mas em toda minha vida.
    </p>
    <a mat-button color="primary" class="color-primary" routerLink="/contact">
      Fale comigo clicando aqui
    </a>
  </section>
  <section class="my-stacks">
    <h1># Minhas principais stacks</h1>
    <section class="stacks">
      <div class="stack">
        <div class="avatar">
          <img src="../../../assets/avatares/avatar-java.png" alt="java" class="img-anime">
        </div>
        <span>Java</span>
      </div>
      <div class="stack">
        <div class="avatar">
          <img src="../../../assets/avatares/avatar-spring-boot.png" alt="spring-boot" class="img-anime">
        </div>
        <span>Spring Boot</span>
      </div>
      <div class="stack">
        <div class="avatar">
          <img src="../../../assets/avatares/avatar-mysql.png" alt="banco-dados" class="img-anime">
        </div>
        <span>Banco de dados relacionais</span>
      </div>
      <div class="stack">
        <div class="avatar">
          <img src="../../../assets/avatares/avatar-git.png" alt="git" class="img-anime">
        </div>
        <span>Git</span>
      </div>
      <div class="stack">
        <div class="avatar">
          <img src="../../../assets/avatares/avatar-tri.png" alt="html-css-js" class="img-anime">
        </div>
        <span>HTML CSS JS</span>
      </div>
      <div class="stack">
        <div class="avatar">
          <img src="../../../assets/avatares/avatar-angular.png" alt="angular" class="img-anime">
        </div>
        <span>Angular</span>
      </div>
      <div class="stack">
        <div class="avatar">
          <img src="../../../assets/avatares/avatar-postman.png" alt="postman" class="img-anime">
        </div>
        <span>Postman</span>
      </div>
      <div class="stack">
        <div class="avatar">
          <img src="../../../assets/avatares/avatar-jasper-reports.png" alt="jasper" class="img-anime">
        </div>
        <span>Jasper Reports</span>
      </div>
    </section>
  </section>
  <div class="next-step">
    <a mat-button color="primary" class="color-primary" routerLink="/education" class="img-anime">
      Formação Acadêmica
    </a>
  </div>
</main>
