<mat-drawer-container autosize>
  <mat-drawer #drawer class="sidenav" [mode]="modeValueDrawer">
    <div class="me-profile">
      <img src="../assets/images/gilberto/gil-avatar.png" alt="perfil-gilberto">
    </div>
    <a
      [routerLinkActive]="['active']"
      routerLink="about"
      (click)="drawer.toggle(); changeIconSideNav()">
      <mat-icon aria-hidden="false" aria-label="me" fontIcon="account_circle"></mat-icon>
      <span>Sobre</span>
    </a>
    <a
      [routerLinkActive]="['active']"
      routerLink="education"
      (click)="drawer.toggle(); changeIconSideNav()">
      <mat-icon aria-hidden="false" aria-label="me" fontIcon="school"></mat-icon>
      <span>Formação</span>
    </a>
  </mat-drawer>

  <div class="sidenav-content">
    <div class="nav-bar">
      <button mat-icon-button color="primary" aria-label="abrir ou fechar menu"
      (click)="drawer.toggle(); changeIconSideNav()">
        <mat-icon *ngIf="menuOpen">menu</mat-icon>
        <mat-icon *ngIf="!menuOpen">close</mat-icon>
      </button>
      <p>Gilberto Fernandes, Full Stack Developer</p>
    </div>
  </div>
  <router-outlet></router-outlet>

</mat-drawer-container>
