<main>
  <h1>Formação Acadêmica</h1>
  <section class="courses">
    <div class="course">
      <span>curso superior</span>
      <span>presencial</span>
      <h2 class="course-title">Análise e Desenvolvimento de Sistemas</h2>
      <h3>Faculdade UNINASSAU</h3>
      <p>2019 - 2021</p>
      <p class="italic">Aluno PROUNI com bolsa 100%</p>
      <p class="italic">Monitor das turmas de programação</p>
      <mat-icon aria-hidden="false" aria-label="concluído" fontIcon="done"></mat-icon>
    </div>

    <div class="course">
      <span>especialização</span>
      <span>EAD</span>
      <h2 class="course-title">Back-end JAVA</h2>
      <h3>DEV SUPERIOR</h3>
      <p>2023</p>
      <p class="italic">160 horas</p>
      <p class="italic">Durante o treinamento foram entregues e validados projetos nas tecnologias Java e Spring Boot, abordando tópicos tais como CRUD's, TDD, OAuth2, ORM, JWT, consultas, dentre outros.</p>
      <mat-icon aria-hidden="false" aria-label="concluído" fontIcon="done"></mat-icon>
    </div>

    <div class="course">
      <span>especialização</span>
      <span>EAD</span>
      <h2 class="course-title">Front-End Angular</h2>
      <h3>Udemy e DIO</h3>
      <p>2023</p>
      <p class="italic">Esse portifólio foi construído com tal tecnologia.</p>
      <p class="italic">Gerenciamento de Rota.</p>
      <p class="italic">Validações JWT e armazenamento de Token.</p>
      <mat-icon aria-hidden="false" aria-label="concluído" fontIcon="done"></mat-icon>
    </div>

    <div class="course">
      <span>especialização</span>
      <span>EAD</span>
      <h2 class="course-title">Jasper Reports com Spring Boot</h2>
      <h3>Udemy</h3>
      <p>2022</p>
      <p class="italic">Instrutor Marcio Ballen</p>
      <p class="italic">Aplicado em projetos em produção de acordo com a necessidade do cliente.</p>
      <mat-icon aria-hidden="false" aria-label="concluído" fontIcon="done"></mat-icon>
    </div>

    <div class="course">
      <span>curso técnico</span>
      <span>presencial</span>
      <h2 class="course-title">Eletromecânica</h2>
      <h3>SENAI</h3>
      <p>2012 - 2014</p>
      <p class="italic">Selecionado para as olimpíadas internas.</p>
      <mat-icon aria-hidden="false" aria-label="concluído" fontIcon="done"></mat-icon>
    </div>

    <div class="course">
      <span>idiomas</span>
      <span>EAD</span>
      <h2 class="course-title">Inglês</h2>
      <h3>Kenny idiomas</h3>
      <p>2024 - 2027</p>
      <p class="italic">Já com boa compreenção na escrita inglesa.</p>
      <p class="italic">Com aulas de conversação.</p>
      <mat-icon aria-hidden="false" aria-label="concluído" fontIcon="event"></mat-icon>
    </div>
  </section>
</main>
