<main>
  <h1>Experiência Profissional</h1>
  <section>
    <div class="experiences">
      <div class="experience">
        <h2 class="experience-title">Programador de Sistemas</h2>
        <h3>Empresa MCC Tecnologia</h3>
        <p>2022 - Emprego atual</p>
        <p class="italic">
          A MCC Tecnologia é uma empresa de fábrica de software resitente em São Paulo, eu fico alocado em um cliente de produtos automotivos em Pernambuco.
        </p>
        <p class="italic">
          Desenvolvo soluções através de software que melhorem os processos das empresas clientes.
        </p>
        <p class="italic">
          Sou Responsável pelo levantamento dos requisitos funcionais dos usuários e requisitos não funcionais dos departamentos de TI das empresas clientes.
        </p>
        <p class="italic">
          Mantenho a integridade do sistema MES (Manufacturing Execution Systems) juntamente com as linhas de produção da empresa cliente.
        </p>
        <p class="italic">
          Temos mais de 7 fábricas com o sistema em produção, no Brasil e Argentina.
          Estive presente em todas as inplantações, totalizando mais de 1.000 usuários
        </p>
      </div>

      <div class="experience">
        <h2 class="experience-title">Técnico em Automação Industrial</h2>
        <h3>Empresa MCC Tecnologia</h3>
        <p>2015 - 2022</p>
        <p class="italic">
          Responsável pela automação industrial dentro das empresas clientes, pois a empresa oferta software de autotomação industrial.
        </p>
        <p class="italic">
          Manutenção da programação CLP (Controlador lógico Programável).
        </p>
        <p class="italic">
          Responsável pela comunicação das linhas de produção com o sistema computacional MES (Manufacturing Execution Systems), capturando assim horas paradas e sua produção diária.
        </p>
        <p class="italic">
          Responsável por comunicar balanças com o sistema MES.
        </p>
        <p class="italic">
          Responsável pelo funcionamento do sistema nas linhas de produção a nível de sistena.
        </p>
        <p class="italic">
          Treinar usuários para uso dos sistemas oferecidos as empresas clientes.
        </p>
      </div>

      <div class="experience">
        <h2 class="experience-title">Técnico em Eletromecânica</h2>
        <h3>Grupo Moura</h3>
        <p>2012 - 2014</p>
        <p class="italic">
          O grupo Moura é lider na América do sul na produção de baterias automotivas.
        </p>
        <p class="italic">
          Fui responsável pela manutenção mecânica geral no setor industrial.
        </p>
      </div>
    </div>
  </section>
</main>
